<label>GeistGist™ Name:
  <input
    type="text"
    name="gist[<%= counter %>][gist_files_attributes][name]"
    value="">
</label>

<label>Body:
<textarea name="gist[<%= counter %>][gist_files_attributes][body]"></textarea>
</label>